.App {
  padding-top: 30px;
  text-align: center;
  background-color: #003547;
  height: 100vh;
  color: #c2bb00;
}
.count {
  color: #e1523d;
  margin-top: 5rem;
  font-size: 3rem;
}
button {
  width: 140px;
  height: 50px;
  margin: 20px;
  background-color: #ed8b16;
  font-weight: bold;
  color: #005e54;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3 ease;
  
}
button:hover{
  width: 170px;
  height: 60px;
  transition: 0.3s ease;
}
